.places__paragraph {
    max-width: 484px;
    font-size: 18px;
    line-height: 1.67;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    box-sizing: border-box;
    align-self: start;
}

.places__paragraph:last-of-type {
    margin-bottom: 0;
}