.places__paragraph {
    font-size: 18px;
    line-height: 1.67;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: start;
    margin-bottom: 24px;
}

.places__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .places__paragraph {
        margin: 0;
        margin-bottom: 28px;
    }
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.62;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 425px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.62;
        margin-bottom: 24px;
    }
}