.lead__title {
width: 720px;
font-weight: 900;
font-size: 96px;
line-height: 1.04;
text-align: center;
color: #FFFFFF;
margin: 0 auto;
box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 56px;
        line-height: 1.1;
        margin: 0 auto;
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 1.1;
        margin: 0 auto;
        max-width: calc(100% - 16px*2);
    }
}