@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-text/intro__list-text.css);

.intro {
    max-width: 690px;
    min-height: 428px;
    margin: 92px auto 0 148px;
}