.cover__overlay {
  width: calc(100% - 2*48px);
  height: calc(100% - 2*92px);
  padding: 92px 48px;
  background-color: rgba(42, 44, 47, 1);                  /* #2A2C2F*/
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__overlay:hover {
  opacity: 0.8;
  transition: opacity 1s linear;
}