.places__website {
    max-width: 456px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: flex-end;
    grid-area: website;
    
}

@media screen and (max-width: 600px) {       /*изменен размер*/
    .places__website {
        display: none;
    }
}